/********************************
 1. Base - links, text, etc.
 2. Navbar
 3. Header
 4. Footer
 5. Run List
********************************/

/****************
 1. Base
****************/
hr {
    width: 60%;
}
.screenreader-only {
    position: absolute; 
    top: 0; 
    left: -9999px
}

/****************
 2. Navbar
****************/
.navbar-collapse.collapse.in .navbar-text, 
.navbar-collapse.collapsing .navbar-text {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #428bca;
}
.navbar-brand {
    padding: 10px;
}

/****************
 3. Header
****************/
header {
    text-align: center;
}
header .alert {
    margin-bottom: 5px;
    padding: 10px;
}

/****************
 4. Footer
****************/

/****************
 5. Run List
****************/
.instrument .no-results {
    font-style: italic;
}
search {
    border-radius: 5px;
}
search#run_search {
    margin-top:4px;
    margin-bottom:4px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.instrument .instrument-heading {
    font-size: 1.3em;
}