[run]
branch = True
omit = 
    WebApp/autoreduce_webapp/selenium_tests/*
    WebApp/autoreduce_webapp/reduction_viewer/migrations/*
    WebApp/autoreduce_webapp/reduction_variables/migrations/*
    # Requires external deps
    */virtualenv/*
    *.so
    */test/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    # We should test main() but prod. entry point is untestable
    if __name__ == .__main__.:
