[run]
branch = True
omit = 
    # Requires external deps
    */virtualenv/*
    *.so

[report]
exclude_lines =
    pragma: no cover
    # We should test main() but prod. entry point is untestable
    if __name__ == .__main__.:
