sudo: required
language: python
python:
  - "2.7"

services:
  - mysql

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server

dist: trusty

before_install:
  - mysql_upgrade --force
  - sudo service mysql restart
  - mysql < scripts/Build/database/travis-db-setup.sql

install:
  - python setup.py install
  - pip install -r requirements.txt
  
  # ================== Test setup ==================== #
  - python setup.py test_settings
  # Externals must be after test_settings
  - python setup.py externals -s activemq,icat
  - python setup.py database
  - sudo python setup.py start
  
  - ./scripts/Build/database/generate_testing_database.sh

script:
  - ./build/tests/test_pylint.sh

  - echo "Running Unit tests"
  - pytest -m "not systemtest" --ignore=scripts --cov=build --cov=QueueProcessors --cov=utils --cov=WebApp/autoreduce_webapp

  - echo "Running System Tests"
  - pytest -m systemtest --cov-append

after_success:
  - coveralls