sudo: required
language: python
python:
  - "2.7"

services:
  - mysql

install:
  - pip install -r requirements.txt
  - ./Scripts/Build/install_icat.sh
  - ./Scripts/Build/install_activemq.sh

script:
  # ================== Test setup ==================== #
  - ./Scripts/Build/migrate_test_settings.sh
  - ./Scripts/Build/generate_testing_database.sh

  # ================ Assert Test Setup =============== #
  - nosetests Scripts/Build/test/test_db_generation.py

  # ================ Static Analysis ================= #
  - ./Scripts/Build/test/test_pylint.sh

  # ================ Nose unit tests ================ #
  # ActiveMQ
  - nosetests Scripts/Build/test/test_activemq_connection.py
  - nosetests --nologcapture EndOfRunMonitor/tests
