sudo: required
language: python
python:
  - "3.7"

services:
  - docker

dist: xenial

before_install:
  - docker pull dtasev/mysql_autoreduction:latest
  - docker run --network=host -dit dtasev/mysql_autoreduction:latest

install:
  # Install autoreduction
  - pip3 install -e .
  # Install test suite dependencies
  - pip3 install -r requirements.txt

  # ================== setup test environment ==================== #
  - python3 setup.py test_settings
  # Externals must be after test_settings
  - python3 setup.py externals -s activemq
  # - python3 setup.py database
  - cat build.log
  - _LOCAL_PYTHON_PATH=$(which python3)
  - sudo $_LOCAL_PYTHON_PATH setup.py start

script:
  - docker logs `docker ps | tail -1 | awk -F ' ' '{print $1}'`
  - py.test build/tests/test_db_generation.py  # perform initial check of database
  # ================ Functional tests =============== #
  - echo "Running Unit tests"
  - py.test --ignore=systemtests --cov=build --cov=monitors --cov=queue_processors --cov=scripts --cov=utils --cov=WebApp/autoreduce_webapp --cov=docker_reduction --cov=paths --cov=plotting --cov=model

  - echo "Running System Tests"
  - py.test systemtests --cov-append

  # ================ Static Analysis ================= #
  # ToDo: These should all be collapsed into one once autoreduction gets a single code package
  - pylint build
  - pylint docker_reduction
  - pylint model
  - pylint monitors
  - pylint queue_processors
  - pylint scripts
  - pylint systemtests
  - pylint utils
  - pylint plotting

after_success:
  - coveralls
