sudo: required
language: python
python:
  - "2.7"

services:
  - mysql

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server

dist: trusty

before_install:
  - mysql_upgrade --force
  - mysql < Scripts/Build/travis-db-setup.sql

install:
  - pip install -r requirements.txt
  - ./Scripts/Build/install_icat.sh
  - ./Scripts/Build/install_activemq.sh

script:
  # ================== Test setup ==================== #
  - ./Scripts/Build/migrate_test_settings.sh
  - ./Scripts/Build/generate_testing_database.sh

  # ================ Assert Test Setup =============== #
  - nosetests Scripts/Build/test/test_db_generation.py
  
  # ================ Static Analysis ================= #
  - ./Scripts/Build/test/test_pylint.sh

  # ================ Nose unit tests ================ #

  # Utils tests
  - nosetests utils/clients/tests
