# Test Env. Requirements

coverage
coveralls
dash
django-debug-toolbar
django_plotly_dash
gitpython
ipython
lxml
mock
pandas
plotly
pylint
pytest-cov
pytest-django
pytest-pythonpath
python-coveralls
requests
sentry-sdk
stomp.py