<div class="instrument col-md-12">
    <div class="row instrument-heading bg-info {% if by == "run" %} js-instrument-loader {% endif %}" id="{{ instrument.name }}">
        <div class="col-sm-7 col-xs-12">
            <div class="col-xs-1">
                <a href="#" class="js-toggle-instrument-children " title="Expand/Collapse"><i id="chevron" class="fa fa-lg fa-chevron-right"></i></a>
            </div>
            <div class="col-xs-10">
                {% if instrument.is_active %}
                    <a href="{% url 'instrument_summary' instrument.name %}">{{ instrument.name }}</a>
                {% else %}
                    {{ instrument.name }}
                {% endif %}
                <div class="progress-summary">
                    {% if instrument.progress_summary.queued %}
                        <span class="text-info">({{ instrument.progress_summary.queued }}) Queued</span>
                    {% endif %}
                    {% if instrument.progress_summary.processing %}
                        <span class="text-warning">({{ instrument.progress_summary.processing }}) Processing</span>
                    {% endif %}
                    {% if instrument.progress_summary.error %}
                        <span class="text-danger">({{ instrument.progress_summary.error }}) Error</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-5 hidden-xs">
            <div class="col-sm-6 hidden-xs">
                <a href="{% url 'instrument_submit_runs' instrument.name %}" class="pull-right edit-instrument-variables">Re-run<span class="hidden-sm"> Past Jobs</span></a>
            </div>

            <div class="col-sm-6 hidden-xs">
                {% if reduction_variables_on and instrument.is_active %}
                    {% if instrument.is_instrument_scientist or user.is_superuser %}
                        <a href="{% url 'instrument_variables' instrument.name %}" class="pull-right edit-instrument-variables">Configure<span class="hidden-sm"> New Jobs</span></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if by == "experiment" %}
        {% if instrument.experiments %}
            {% for experiment in instrument.experiments %}
                <div class="experiment hide">
                    {% include "snippets/experiment_table.html" with experiment=experiment only %}
                </div>
            {% endfor %}
        {% else %}
            <div class="experiment hide">
                    <div class="row">
                        <div class="col-md-12 text-center no-results">
                            No experiments found.
                        </div>
                    </div>
            </div>
        {% endif %}
    {% elif by == "run" %}
        <div class="run hide" id="{{ instrument.name }}-list" >
        </div>
    {% endif %}
</div>