<li>
    <a href="#resetValues" id="resetValues">Reset all to initial values</a>
    <a href="#" data-toggle="popover" data-html="true" data-content="Reset the values of the variables to the ones used in this reduction run." data-trigger="hover click focus" data-placement="top" data-container="body" aria-label="Reset the values of the variables to the ones previously used for this run.">
        <i class="fa fa-info-circle"></i>
    </a>
</li>
<li>
    <a href="#currentScript" id="currentScript">Reset all to reduce_vars values</a>
    <a href="#" data-toggle="popover" data-html="true" data-content="Reset to the values currently contained in the reduce_vars script." data-trigger="hover click focus" data-placement="top" data-container="body">
        <i class="fa fa-info-circle"></i>
    </a>
</li>
