<div class="instrument col-md-12">
    <div class="row instrument-heading bg-info">
        <div class="col-md-1">
            <a href="#" class="js-toggle-instrument-experiments"><i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="col-md-3"><a href="{% url 'instrument_summary' instrument.name %}">{{ instrument.name }}</a></div>
        <div class="col-md-4">{{ instrument.progress_summary }}</div>
        <div class="col-md-4">
            {% if reduction_variables_on %}
                <a href="{% url 'instrument_variables' instrument.name %}">Edit Reduction Variables</a>
            {% endif %}
        </div>
    </div>
    {% if by == "experiment" %}
        <div class="experiment hide">
            {% if instrument.experiments %}
                {% for experiment in instrument.experiments %}
                    {% include "snippets/experiment_table.html" with experiment=experiment only %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-12 text-center no-results">
                        No experiments found.
                    </div>
                </div>
            {% endif %}
        </div>
    {% elif by == "run" %}
        <div class="run hide">
            {% if instrument.runs %}
                {% for run in instrument.runs %}
                    {% include "snippets/run_table.html" with run=run only %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-12 text-center no-results">
                        No runs found.
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>