<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><a data-toggle="collapse" href="#toggleForm" data-target="#rerun_form"><i class="fa fa-chevron-right"></i> Re-run reduction job</a></div>
    </div>
    <div class="panel-body collapse" id="rerun_form">
        <form id="run_variables" method="POST" action="{% url 'run_confirmation' instrument=instrument.name %}" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="use_current_script" id="use_current_script" value="false">
            <input type="hidden" name="run_number" value="{{ run_number }} ">
            <input type="hidden" name="run_version" value="{{ run_version }} ">
            <div class="row">
                <div class="col-md-9">
                    {% include "snippets/form_warnings.html" %}
                    <div class="form-group">
                        <label for="run_description" class="control-label col-md-2">
                            Re-run description
                            <a href="#" data-toggle="popover" data-content="This will be appended onto the run number for you and others to identify the reason for re-submitting." data-trigger="hover click focus" data-placement="top" data-container="body"><i class="fa fa-info-circle"></i></a>
                        </label>
                        <div class="col-md-10">
                            <input type="text" id="run_description" name="run_description" class="form-control"/>
                        </div>
                    </div>
                    <div class="js-variables-container">
                        {% include "snippets/edit_variables.html" with standard_variables=standard_variables advanced_variables=advanced_variables instrument=instrument.name only %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-12"><h4>Additional Actions</h4></div>
                        </div>
                        <div class="row">
                            <ul class="js-form-actions">
                                <li>
                                    <a href="#previewScript" id="previewScript">Preview Reduction Script</a>
                                    <div class="js-explaination visible-xs-block">Download the reduction script with the selected variables inserted.</div>
                                </li>
                                <li>
                                    <a href="#resetValues" id="resetValues">Reset to original script and values</a>
                                    <div class="js-explaination visible-xs-block">Reset to the script and variables previously specified for the run.</div>
                                </li>
                                <li>
                                    <a href="#currentScript" id="currentScript">Reset to current script and values</a>
                                    <div class="js-explaination visible-xs-block">Reset to use the current script and the default variables that it contains.</div>
                                </li>
                                <div>
                                    <input type="checkbox" name="overwrite_checkbox" id="overwrite_checkbox" checked>
                                    <a href="#overwrite" id="overwrite"> Overwrite Previous Data</a>
                                    <div class="js-explaination visible-xs-block">Uncheck this box if you don't want previous run data to be overwritten</div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 js-action-explaination"></div>
                    </div>
                </div>
            </div>
            <div class="form-group variables-buttons">
                <div class="col-md-9 text-right">
                    <a href="#cancelForm" class="btn btn-danger" id="cancelForm">Cancel</a> 
                    <input type="submit" value="Re-run with new variables" class="btn btn-success" id="variableSubmit" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="script-preview-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Preview Reduction Script</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
                <pre class="prettyprint lang-py js-script-container">
                </pre>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 pull-right">
                    <a href="#downloadScript" id="downloadScript" class="btn btn-primary">Download Script</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <div class="js-default-variables">
        {% include "snippets/edit_variables.html" with standard_variables=default_standard_variables advanced_variables=default_advanced_variables instrument=instrument.name only %}
    </div>
    <div class="js-current-variables">
        {% include "snippets/edit_variables.html" with standard_variables=current_standard_variables advanced_variables=current_advanced_variables instrument=instrument.name only %}
    </div>
</div>