{% extends "base.html" %}
{% block title %}Reduction Run Statuses{% endblock %}
{% load static %}

{% block body %}
    <h2>Stats</h2>
    <div>
        <canvas id="chart"></canvas>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/graphs.css" %}">
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"
            integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk="
            crossorigin="anonymous"></script>
    <script>
        let instrument = "{{ instrument }}";
        let statuses = [
            {% for status in statuses %}
                {
                    'name': '{{ status.name}}',
                    'count': {{ status.count }},
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static "javascript/stats.js" %}"></script>
{% endblock %}
