{% extends "base.html" %}
{% block title %}Error{% endblock %}

{% block body %}
    <div class="well text-center">
        <h2><i class="fa fa-exclamation-triangle"></i> 400 - Bad Request</h2>
        <p>
            There was an error with the request you made. Please check the address carefully and try again.<br/>
            {% if admin_email %}
                If you think this is an error please <a href="mailto:{{ admin_email }}">contact us</a>.<br/>
            {% endif %}
        </p>
    </div>
{% endblock %}