{% extends "base.html" %}
{% block title %}Accessibility Statement{% endblock %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Accessibility Statement</h2>
        </div>
    </div>


    <div class="col-md-12">
        <p>
            This accessibility statement applies to all web pages in the domain of <a
                href="/">reduce.isis.cclrc.ac.uk</a> that are accessible to any user with or without an ISIS User Office account.
            This website is run by the Science and Technology Facilities Council (STFC). We want as many people as possible to be able to use this website. For example, that means you should be able to:
        </p>
        <h3>How accessible this website is</h3>
        <h3>Feedback and contact information</h3>
        <h3>Reporting accessibility problems with this website</h3>
        <h3>Enforcement procedure</h3>
        <h3>Contacting us by phone or visiting us in person</h3>
        <h3>Technical information about this website’s accessibility</h3>
        <h3>Compliance status</h3>
        <h3>Technical information about this website’s accessibility</h3>
        <h4>Compliance status</h4>
        <h4>Non-accessible content</h4>
        <h4>Non-compliance with the accessibility regulations</h4>
        <h4>Disproportionate burden</h4>
        <h4>Technical information about this website’s accessibility</h4>
        <h4>Content that’s not within the scope of the accessibility regulations</h4>
        <h3>What we’re doing to improve accessibility</h3>
        <h3>Preparation of this accessibility statement</h3>
    </div>

{% endblock %}
