{% extends "base.html" %}
{% block title %}{{ instrument.name|default:"Instrument not found" }} - Configure new jobs{% endblock %}
{% load view %}
{% load static %}
{% block body %}
    {% if instrument %}
        {% if instrument.is_active %}
            <title>{{ instrument.name }} - Configure New Runs</title>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>{{ instrument.name }} - Configure New Runs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include "snippets/instrument_status.html" with processing=processing queued=queued last_instrument_run=last_instrument_run only %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <a href="{% url 'instrument:variables_summary' instrument=instrument.name %}">View upcoming saved configurations</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        {% if current_experiment_reference > 0 %}
                        <a href="{% url 'instrument:variables' instrument=instrument.name start=run_start end=run_end %}" id="go_to_other">Click here to submit variables for a run range</a>
                        {% else %}
                        <a href="{% url 'instrument:variables_by_experiment' instrument=instrument.name experiment_reference=submit_for_experiment_reference %}" id="go_to_other">Click here to submit variables for an experiment reference</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <br/>
        {% if current_experiment_reference > 0 %}
        <form id="instrument_variables" method="POST" action="{% url 'instrument:variables_by_experiment' instrument=instrument.name experiment_reference=current_experiment_reference %}" class="form-horizontal">
        {% else %}
        <form id="instrument_variables" method="POST" action="{% url 'instrument:variables' instrument=instrument.name start=run_start end=run_end %}" class="form-horizontal">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" id="upcoming_runs" name="upcoming_runs" value="{{ upcoming_run_variables }}"/>
        <input type="hidden" id="is_editing" name="is_editing" value="{{ editing }}"/>
        <div class="row">
            <div class="col-md-9">
                {% include "snippets/form_warnings.html" %}
                <br/>
                {% if current_experiment_reference > 0 %}
                <div class="js-variable-by-experiment">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="run_start" class="control-label col-md-3">Experiment Reference
                                    Number</label>
                                <div class="col-md-9">
                                    <input type="number" id="experiment_reference_number"
                                           name="experiment_reference_number" value="{{ current_experiment_reference }}"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="js-variable-by-run">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="run_start" class="control-label col-md-6">Run Number Start</label>
                                <div class="col-md-6">
                                    <input type="number" id="run_start" name="run_start" value="{{ run_start }}" min="{{ minimum_run_start }}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="run_end" class="control-label col-md-6">Finished
                                    <small>(Optional)</small></label>
                                <div class="col-md-6">
                                    <input type="number" id="run_end" name="run_end"
                                           value="{% if run_end %}{{ run_end }}{% endif %}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="alert alert-warning collapse" id="run_finish_warning">
                                <strong>Please Note:</strong> The <a href="#" class="js-show-default-variables">default
                                script values</a> will be used from run <span id="next_run"></span> onwards. You will be
                                able to change this by selecting the appropriate "edit variables" link from the
                                Instrument Summary page.
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="js-variables-container">
                    {% include "snippets/edit_variables.html" with standard_variables=standard_variables advanced_variables=advanced_variables instrument=instrument.name only %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12"><h4>Additional Actions</h4></div>
                    </div>
                    <div class="row">
                        <ul class="js-form-actions">
                            <li>
                                <a href="#currentScript" id="currentScript">Reset to values in current script</a>
                                <div class="js-explaination visible-xs-block">Reset all variables to those set in the
                                    script. This will pick up any changes made to the reduce_vars.py script.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 js-action-explaination"></div>
                </div>
            </div>
        </div>
        <div class="form-group variables-buttons">
            <div class="col-md-9 text-right">
                <a href="{% url 'runs:list' instrument.name %}" class="btn btn-danger" id="cancel">Cancel</a>
                <input type="submit" value="Submit Changes" class="btn btn-success" id="variableSubmit"/>
            </div>
        </div>
        </form>

            <div class="modal fade" id="default-variables-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Default Variables</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Standard Variables</h5>
                            {% for name,variable in default_standard_variables.items %}
                                <div>
                                    <strong>{{ name }}:</strong> {{ variable.value }}
                                </div>
                            {% endfor %}
                            <h5>Advanced Variables</h5>
                            {% for name,variable in default_advanced_variables.items %}
                                <div>
                                    <strong>{{ name }}:</strong> {{ variable.value }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="conflicts-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Overwrite Existing Variables?</h4>
                        </div>
                        <div class="modal-body">
                            <p>There are already saved values that fall within this run range chosen.</p>
                            <p>These variables start at the following runs: <span class="js-conflicts-list"></span></p>
                            <p>Do you want to overwrite these with the new values?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary js-conflicts-confirm" id="replace_confirm">Yes, Replace</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide">
                <div class="js-current-variables">
                    {% include "snippets/edit_variables.html" with standard_variables=current_standard_variables advanced_variables=current_advanced_variables instrument=instrument.name only %}
                </div>
            </div>
        {% else %}
            <div class="text-center col-md-6 col-md-offset-3 well well-small">
                Instrument is not active.
            </div>
        {% endif %}
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small" id="message">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/prettify.css" %}">
{% endblock %}
{% block scripts %}
    <script src='{% static "javascript/vendor/prettify.js" %}'></script>
    <script src='{% static "javascript/run_variables.js" %}'></script>
{% endblock %}
