<footer id="footer">
    <hr/>
    <p>If you require any help with this website please visit the <a id="footer-help" href="{% url 'help' %}"
                                                                     target="_blank"
                                                                     rel="noopener noreferrer">Help Pages</a>
        {% if support_email %} or <a id="footer-email" href="mailto:{{ support_email }}">Contact Us</a>{% endif %}.</p>
    <p>Find us on GitHub: <a id="footer-github" href="https://github.com/ISISScientificComputing/autoreduce"
                             target="_blank" rel="noopener noreferrer">Autoreduction</a></p>
</footer>