{% load replace %}

<header>
    {% if notifications %}
        {% for notification in notifications %}
            <div class="alert alert-{% replace notification.severity_verbose 'error' 'danger' %} hide" role="alert" data-notification-id="{{ notification.id }}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p class="notification-message"><i class="fa fa-{% replace notification.severity_verbose 'error' 'exclamation' %} fa-{% replace notification.severity_verbose 'error' 'exclamation' %}-circle fa-lg"></i> {{ notification.message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <h1 class="col-md-8">ISIS Auto&#8209;reduction</h1>
        <div class="col-md-2 text-center pull-right" id="right_of_title"></div>
    </div>
</header>