{% extends "base.html" %}
{% load view %}
{% load static from staticfiles %}
{% load colour_table_rows %}

{% block body %}
    {% if instrument %}
        {% if instrument.is_active %}
            <title>{{ instrument_name }}</title>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>{{ instrument_name }}</h2>
                </div>
            </div>

            <!-- Instrument status and control buttons -->
            <div class="row">
                <div class="col-md-6">
                    {% include "snippets/instrument_status.html" with processing=processing queued=queued last_instrument_run=last_instrument_run only %}
                </div>
                <!-- Pause / Resume Reduction button-->
                <div class="col-md-6 text-center">
                    {% if instrument.is_paused %}
                        <a class="btn btn-danger btn-block" id="pause"><i class="fa fa-play"></i>&nbsp;&nbsp;Resume Autoreduction on {{instrument_name}}</a>
                    {% else %}
                        <a class="btn btn-success btn-block" id="pause"><i class="fa fa-pause"></i>&nbsp;&nbsp;Pause Autoreduction on {{instrument_name}}</a>
                    {% endif %}
                    <form id="form-pause" method="POST" action="{% url 'instrument_pause' instrument_name %}">
                        {% csrf_token %}
                        <input type="hidden" name="currently_paused" id="currently_paused" value="{{ instrument.is_paused }}">
                    </form>
                    <p></p>
                </div>
                <!-- Re-run past runs button -->
                <div class="col-md-6 text-center">
                    <p><a href="{% url 'instrument_submit_runs' instrument=instrument_name %}" class="btn btn-success btn-block"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Re-run past jobs</a></p>
                </div>
                <!-- Configure new runs button -->
                <div class="col-md-6 text-center">
                    <p><a href="{% url 'instrument_variables' instrument=instrument_name %}" class="btn btn-success btn-block"><i class="fa fa-plus"></i>&nbsp;&nbsp;Configure New Jobs</a></p>
                </div>
            </div>

            <!-- Collapsible widget for reduction variables present and future -->
            {% if reduction_variables_on %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#variables"><i class="fa fa-chevron-down"></i>  Show Variables</button>
                    <div id="variables" class="collapse" style="background-color:#F0FFFF;">
                        {% view "reduction_variables.views.instrument_summary" instrument=instrument_name last_run_object=last_instrument_run %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="text-center col-md-6 col-md-offset-3 well well-small">
                Instrument is not active.
            </div>
        {% endif %}

        <br/>
        <hr/>
        <br/>
            <!-- Search bar for reduction Jobs -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="search-parent">
                        <label for="run_search" class="screenreader-only">Search</label>
                        <input type="search" placeholder="Search" name="run_search" id="run_search" class="form-control" autocomplete="off" data-toggle="popover" data-trigger="focus" data-content="Try entering an RB number or run number." data-placement="top">
                    </div>
                </div>
            </div>
            <!-- Display table for reduction jobs -->
            <div class="row">
                <form action="{{ request.path }}" method="get" id="filter_options">
                    <div class="col-md-3">
                        <select class="form-control" name="filter" form="filter_options">
                            <option value="Run Number">Filter by ...</option> <!-- Defaults to Run Number -->
                            <option>Run number</option>
                            <option>Experiment Reference (RB)</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="pagination" form="filter_options">
                            <option value="50">Items per page... </option>  <!-- Defaults to 50 items per page -->
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>250</option>
                            <option>500</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="btn btn-primary" type="submit" value="Apply filters">
                    </div>
                </form>
            </div>
            <br/>
            <div class="row">
                    <!-- Display table for every reduction job -->
                    <div class="tab-content col-md-12">
                        <!-- Run number filtered jobs -->
                        <div class="tab-pane row {% if default_tab == 'run_number' %}active{% else %}hide{% endif %}" id="by-run-number">
                            {% for run in paginator.current_page.records %}
                                {% if forloop.first %}
                                    <div class="row run-row-top">
                                {% else %}
                                    <div class="row run-row">
                                {% endif %}
                                    <div class="col-md-5  col-sm-5 col-md-offset-1 col-xs-4"><a href="{% url 'run_summary' instrument_name=instrument_name run_number=run.run_number run_version=run.run_version %}">{{ run.title }}</a></div>
                                    <div class="col-md-2 col-sm-2 col-xs-4 run-status text-{% colour_table_row run.status.value %}"><strong>{{ run.status }}</strong></div>
                                    <div class="col-md-4 col-sm-5 col-xs-4"><strong>Last updated:</strong> {{ run.last_updated }}</div>
                                </div>
                            {% endfor %}
                            {% if paginator %}
                                <div class="col-md-12 text-center">
                                    <ul class="pagination ">
                                        {% if paginator.has_previous %}
                                            <li><a href="?page={{ paginator.previous_page_index }}#by-run-number">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for page in paginator.display_list %}
                                            {% if page.is_visible %}
                                                {% if page.number == paginator.current_page_index %}
                                                    <li class="active"><span>{{ page.display_name }}<span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                    <li><a href="?page={{ page.number }}#by-run-number">{{ page.display_name }}</a></li>
                                                {% endif %}
                                            {% else %}
                                                 <li class="disabled"><span>...</span></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if runs.has_next %}
                                            <li><a href="?page={{ paginator.next_page_index}}#by-run-number">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small">
            Instrument not found.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if preload_runs %}
        <script>window.preload_runs = true;</script>
    {% endif %}
    <script src="{% static "javascript/pause_instrument.js" %}"></script>
    <script src="{% static "javascript/instrument_variables.js" %}"></script>
    <script src="{% static "javascript/vendor/fastdom.js" %}"></script>
    <script src="{% static "javascript/run_list.js" %}"></script>
{% endblock %}
