{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container-fluid" id="instrument-btns-container">
    <div class="instrument-btns-row row form-group">
    {% if instrument_list %}
        {% for instrument in instrument_list %}
                <div class="instrument-btn col-md-4 text-center" id={{ instrument }}-instrument-btn>
                    <a href="{% url 'runs:list' instrument %}" class="btn btn-primary btn-lg btn-block">{{ instrument }}</a>
                </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="instrument-btns-row row form-group">
        {% endif %}
        {% endfor %}
    {% else %}
            <div class="panel-body text-center">No instruments registered with auto-reduction were found. Please contact a member of the development team if the problem persists.</div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tour.min.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/bootstrap-tour.min.js" %}"></script>
    <script src="{% static "javascript/tours/overview_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}
