{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}
<div class="container-fluid">
    <div class="row form-group">
    {% for instrument in instrument_list %}
            <div class="col-md-4  text-center">
                <a href="/instrument/{{ instrument }}" class="btn btn-primary btn-lg btn-block">{{ instrument }}</a>
            </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row form-group">
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}