{% extends "base.html" %}
{% load view %}
{% load colour_table_rows %}
{% load natural_time_difference %}
{% load get_user_name %}
{% load replace %}
{% load naturaltime from humanize %}
{% load static from staticfiles %}

{% block body %}
    {% if run %}
        <title>Reduction Job #{{ run.title }}</title>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Reduction Job #{{ run.title }}</h2>
                {% if history.count > 1 %}
                    (This run has been re-reduced, <a href="#" class="js-reduction-run-history">see history</a>)
                {% endif %}
            </div>
        </div>
        {% if run.message %}
            <div class="alert alert-{% replace run.status.value 'Error' 'danger' %} word-wrap" role="alert">
                <i class="fa fa-{% replace run.status.value 'Error' 'exclamation' %} fa-{% replace run.status.value 'Error' 'exclamation' %}-circle fa-lg"></i> <a href="#" class="js-log-display">{{ run.message }}</a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary panel-small panel-2-column">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <strong>Status:</strong> <strong class="text-{% colour_table_row run.status.value %}">{{ run.status }}</strong>
                                </div>
                                <div>
                                    <strong>Instrument:</strong> <a href="{% url 'instrument_summary' instrument=run.instrument %}">{{ run.instrument }}</a>
                                </div>
                                <div>
                                    <strong>RB Number:</strong> <a href="{% url 'experiment_summary' reference_number=run.experiment %}">{{ run.experiment }}</a>
                                </div>
                                <div>
                                    <strong>Last Updated:</strong> {{ run.last_updated }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <strong>Start:</strong> 
                                    {% if run.started %}
                                        {{ run.started }}
                                    {% else %}
                                        <em>Not yet started</em>
                                    {% endif %}
                                </div>
                                <div>
                                    <strong>Finish:</strong> 
                                    {% if run.finished %}
                                        {{ run.finished }}
                                    {% else %}
                                        <em>Not yet finished</em>
                                    {% endif %}
                                </div>
                                <div>
                                    <strong>Duration:</strong> 
                                    {% if run.started and run.finished %}
                                        {% natural_time_difference run.started run.finished %}
                                    {% else %}
                                        <em>Not yet finished</em>
                                    {% endif %}
                                </div>
                                <div>
                                    <strong>Retrying:</strong> 
                                    {% if run.finished %}
                                        {% if run.retry_when %}
                                            {{ run.retry_when|naturaltime }}
                                            {% if run.cancel %}
                                                <span> (Last attempt)</span>
                                            {% endif %}
                                            {% if run.retry_run %}
                                                <a href="{% url 'run_summary' run_number=run.retry_run.run_number run_version=run.retry_run.run_version %}"> ({{ run.retry_run.status }})</a>
                                            {% endif %}
                                        {% else %}
                                            Never
                                        {% endif %}
                                    {% else %}
                                        <em>Not yet finished</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="file-path">
                                    <strong>Data:</strong>
                                    {% if run.data_location.all %}
                                        {% for location in run.data_location.all %}
                                            {{ location }}<br/>
                                        {% endfor %}
                                    {% else %}
                                        <em>No data found</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="file-path">
                                    <strong>Reduced:</strong>
                                    {% if run.reduction_location.all %}
                                        {% for location in run.reduction_location.all %}
                                            {{ location }}<br/>
                                        {% endfor %}
                                    {% else %}
                                        <em>No reduced data found</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <strong>Logs:</strong>
                                <a href="#" class="js-log-display">Show reduction logs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if run.graph %}
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title"><a data-toggle="collapse" href="#collapseGraphs" data-target="#graphs"><i class="fa fa-chevron-down"></i> Images</a></div>
                </div>
                <div class="panel-body collapse in" id="graphs">
                    {% for graph in run.graph %}
                        <div class="text-center"><a href="{{ graph }}" target="_blank"><img src="{{ graph }}" /></a></div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}        
        {% if reduction_variables_on %}  
            {% view "reduction_variables.views.run_summary" run.run_number run.run_version %}
        {% endif %}

        <div class="run-history modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Job History</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Job Number</th>
                                    <th>Status</th>
                                    <th>Last Updated</th>
                                    <th>Submitted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in history %}
                                    <tr>
                                        <td>
                                            {% if job.run_version != run.run_version %}
                                            <a href="{% url 'run_summary' run_number=job.run_number run_version=job.run_version %}">{{ job.title }}</a>
                                            {% else %}
                                                {{ job.title }}
                                            {% endif %}
                                        </td>
                                        <td class="text-{% colour_table_row job.status.value %}"><strong>{{ job.status.value }}</strong></td>
                                        <td title="{{ job.last_updated|date:'SHORT_DATETIME_FORMAT' }}">{{ job.last_updated|naturaltime }}</td>
                                        <td>
											Autoreduction Service
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="log-display modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Reduction logs</h4>
                    </div>
                    <div class="modal-body">
                        <pre class="prettyprint js-log-display-container">## Reduction log ##<br/>{{ run.reduction_log }}<br/><br/><br/>## Post process admin log ##<br/>{{ run.admin_log }}</pre>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small">
            Reduction run not found.
        </div>
    {% endif %}
{% endblock %}



{% block stylesheets %}
    {% if reduction_variables_on %}  
        <link rel="stylesheet" href="{% static "css/vendor/prettify.css" %}">
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/run_summary.js" %}"></script>
    {% if reduction_variables_on %}  
        <script src="{% static "javascript/vendor/prettify.js" %}"></script>
        <script src="{% static "javascript/run_variables.js" %}"></script>
    {% endif %}
{% endblock %}