{% extends "base.html" %}
{% block title %}{{ instrument.name|default:"Instrument not found" }} - Reduction variables{% endblock %}
{% load view %}
{% load static %}
{% block body %}
    {% if instrument %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ instrument.name }} - Reduction Variables</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {% view "instrument.views.variables.summarize_variables" instrument=instrument.name last_run_object=last_instrument_run %}
            </div>
        </div>
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small" id="message">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/prettify.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/prettify.js" %}"></script>
    <script src="{% static "javascript/run_variables.js" %}"></script>
{% endblock %}
