{% extends "base.html" %}
{% load view %}
{% load static from staticfiles %}

{% block body %}
    {% if instrument %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ instrument.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include "snippets/instrument_status.html" with processing=processing queued=queued only %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <a href="{% url 'instrument_summary' instrument=instrument %}">View upcoming saved variable changes</a>
                </p>
            </div>
        </div>
        <form id="instrument_variables" method="POST" action="{% url 'instrument_variables' instrument=instrument.name start=run_start end=run_end %}" class="form-horizontal">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="run_start" class="control-label col-md-4">Run Number Start</label> 
                        <div class="col-md-8">
                            <input type="number" id="run_start" name="run_start" value="{% if run_start and run_start > minimum_run_start %}{{run_start}}{%else%}{{minimum_run_start}}{% endif %}" min="{{minimum_run_start}}" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="run_end" class="control-label col-md-4">Finished <small>(Optional)</small></label>
                        <div class="col-md-8">
                            <input type="number" id="run_end" name="run_end" value="{% if run_end %}{{run_end}}{% endif %}" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-warning collapse" id="run_finish_warning">
                        <strong>Please Note:</strong> The <a href="#" class="js-show-default-variables">default script values</a> will be used from run <span id="next_run"></span> onwards. You will be able to change this by selecting the appropriate "edit variables" link from the Instrument Summary page.
                    </div>
                </div>
            </div>
            {% include "snippets/edit_variables.html" with standard_variables=standard_variables advanced_variables=advanced_variables instrument=instrument.name button_text="Submit Changes" only %}
        </form>

        <div class="modal fade" id="default-variables-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Default Variables</h4>
                    </div>
                    <div class="modal-body">
                        {% include "snippets/variables.html" with instrument_variables=default_variables instrument=instrument only %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small">
            Instrument not found.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "javascript/run_variables.js" %}"></script>
{% endblock %}