{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}
    {% if instrument %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ instrument.name }}</h2>
            </div>
        </div>
        <div class="row">
            <fieldset class="col-md-6 col-md-offset-3">
                <legend>Status</legend>
                {% if processing or queued %}
                    {% if processing %}
                        <div>
                            <strong>Currently processing:</strong> 
                            {% for job in processing %}
                                <a href="{% url 'run_summary' run_number=job.run_number run_version=job.run_version %}">{{ job.run_number }}{% if job.run_name %}-{{ job.run_name }}{% endif %}</a> 
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if queued %}
                        <div>
                            <strong>Currently queued:</strong> 
                            {% for job in queued %}
                                <a href="{% url 'run_summary' run_number=job.run_number run_version=job.run_version %}">{{ job.run_number }}{% if job.run_name %}-{{ job.run_name }}{% endif %}</a> 
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="text-center">
                        All reduction jobs complete.
                    </div>
                {% endif %}
            </fieldset>
        </div>  
    {% else %}
        <div class="well well-small">
            Instrument not found
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "javascript/run_list.js" %}"></script>
{% endblock %}