{% extends "base.html" %}
{% load view %}
{% load colour_table_rows %}
{% load natural_time_difference %}
{% load get_user_name %}
{% load naturaltime from humanize %}
{% load static from staticfiles %}

{% block body %}
    {% if run %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Run #{{ run.run_number }}{% if run.run_name %}-{{ run.run_name }}{% endif %}</h2>
                {% if history.count > 1 %}
                    (This run has been re-reduced, <a href="#" class="js-reduction-run-history">see history</a>)
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary panel-small panel-2-column">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <strong>Status:</strong> <strong class="text-{% colour_table_row run.status.value %}">{{ run.status }}</strong>
                                </div>
                                <div>
                                    <strong>Instrument:</strong> <a href="{% url 'instrument_summary' instrument=run.instrument %}">{{ run.instrument }}</a>
                                </div>
                                <div>
                                    <strong>RB Number:</strong> <a href="{% url 'experiment_summary' reference_number=run.experiment %}">{{ run.experiment }}</a>
                                </div>
                                <div>
                                    <strong>Last Updated:</strong> {{ run.last_updated }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <strong>Start:</strong> 
                                    {% if run.started %}
                                        {{ run.started }}
                                    {% else %}
                                        <em>Not yet started</em>
                                    {% endif %}
                                </div>
                                <div>
                                    <strong>Finish:</strong> 
                                    {% if run.finished %}
                                        {{ run.finished }}
                                    {% else %}
                                        <em>Not yet finished</em>
                                    {% endif %}
                                </div>
                                <div>
                                    <strong>Duration:</strong> 
                                    {% if run.started and run.finished %}
                                        {% natural_time_difference run.started run.finished %}
                                    {% else %}
                                        <em>Not yet finished</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <strong>Data:</strong>
                                    {% if run.data_location.all %}
                                        {% for location in run.data_location.all %}
                                            {{ location }}<br/>
                                        {% endfor %}
                                    {% else %}
                                        <em>No data found</em>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <strong>Reduced:</strong>
                                    {% if run.reduction_location.all %}
                                        {% for location in run.reduction_location.all %}
                                            {{ location }}<br/>
                                        {% endfor %}
                                    {% else %}
                                        <em>No reduced data found</em>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if run.graph %}
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title"><a data-toggle="collapse" href="#collapseGraphs" data-target="#graphs"><i class="fa fa-chevron-down"></i> Images</a></div>
                </div>
                <div class="panel-body collapse in" id="graphs">
                    {% for graph in run.graph %}
                        <div class="text-center"><img src="{{ graph }}" /></div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}        
        {% if reduction_variables_on %}  
            {% view "reduction_variables.views.run_summary" run.run_number run.run_version %}
        {% endif %}

        <div class="run-history modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Run History</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Run Number</th>
                                    <th>Status</th>
                                    <th>Last Updated</th>
                                    <th>Submitted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in history %}
                                    <tr>
                                        <td>
                                            {% if job.run_version != run.run_version %}
                                            <a href="{% url 'run_summary' run_number=job.run_number run_version=job.run_version %}">{{ job.run_number }}{% if job.run_name %}-{{ job.run_name }}{%elif job.run_version > 0 %}-{{ job.run_version }}{% endif %}</a>
                                            {% else %}
                                                {{ job.run_number }}{% if job.run_name %}-{{ job.run_name }}{%else%}-{{ job.run_version }}{% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="text-{% colour_table_row job.status.value %}">{{ job.status.value }}</td>
                                        <td title="{{ job.last_updated|date:'SHORT_DATETIME_FORMAT' }}">{{ job.last_updated|naturaltime }}</td>
                                        <td>
                                            {% if job.started_by %}
                                                {% get_user_name job.started_by %}
                                            {% else %}
                                                Autoreduction Service
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small">
            Reduction run not found.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "javascript/run_summary.js" %}"></script>
{% endblock %}