{% extends "base.html" %}

{% block body %}
    {% if instrument_list %}
        <div class="row">
            <div class="md-12">
                <input type="search" placeholder="Search" name="run_search" id="run_search">
            </div>
        </div>
        <div class="row">
            <div class="md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#by-experiment" role="tab" data-toggle="tab">View By Experiment Number</a></li>
                    <li class="active"><a href="#by-run-number" role="tab" data-toggle="tab">View By Run Number</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="by-experiment">
                        {% for instrument in instrument_list %}
                            {% include "snippets/instrument_table.html" with instrument=instrument reduction_variables_on=reduction_variables_on by="experiment" only %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="by-run-number">
                        {% for instrument in instrument_list %}
                            {% include "snippets/instrument_table.html" with instrument=instrument reduction_variables_on=reduction_variables_on by="run" only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="md-12 text-center">
                <h3>No reduction runs found. <i class="fa fa-frown-o"></i></h3>
            </div>
        </div>
    {% endif %} 
{% endblock %}
