{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}
    {% if instrument_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="run_search" class="screenreader-only">Search</label>
                    <input type="search" placeholder="Search" name="run_search" id="run_search" class="form-control" autocomplete="off" data-toggle="popover" data-trigger="focus" data-content="Try entering an RB number or run number." data-placement="left">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs hidden-xs js-run-tabs" role="tablist">
                    <li class="{% if default_tab == 'experiment' %}active{% endif %}" id="by-experiment-tab"><a href="#by-experiment" role="tab" data-toggle="tab"><span class="hidden-xs">View </span>By Experiment Number</a></li>
                    <li class="{% if default_tab == 'run_number' %}active{% endif %}" id="by-run-number-tab"><a href="#by-run-number" role="tab" data-toggle="tab"><span class="hidden-xs">View </span>By Job Number</a></li>
                </ul>
                <div class="row visible-xs">
                    <div class="col-xs-12 text-center">
                        <select id="by-tabs-mobile">
                            <option value="by-experiment">View By Experiment Number</option>
                            <option value="by-run-number">View By Job Number</option>
                        </select>
                    </div>
                </div>
                <div class="tab-content col-md-12">
                    <div class="tab-pane row {% if default_tab == 'experiment' %}active{% else %}hide{% endif %}" id="by-experiment">
                        {% for instrument in instrument_list %}
                            {% include "snippets/instrument_table.html" with instrument=instrument reduction_variables_on=reduction_variables_on by="experiment" user=user only %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane row {% if default_tab == 'run_number' %}active{% else %}hide{% endif %}" id="by-run-number">
                        {% for instrument in instrument_list %}
                            {% include "snippets/instrument_table.html" with instrument=instrument reduction_variables_on=reduction_variables_on by="run" user=user only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide" id="no-search-results">
            <div class="col-md-12 text-center">
                <h3>No matching results.</h3>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>No reduction runs found. <i class="fa fa-frown-o"></i></h3>
            </div>
        </div>
    {% endif %} 
{% endblock %}

{% block scripts %}
    <script src="{% static "javascript/vendor/fastdom.js" %}"></script>
    <script src="{% static "javascript/run_list.js" %}"></script>
{% endblock %}