{% extends "base.html" %}
{% load view %}
{% load static from staticfiles %}

{% block body %}
    {% if instrument %}
        {% if instrument.is_active %}
            <title>{{ instrument.name }} - Re-run past jobs</title>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>{{ instrument.name }} - Re-run past jobs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include "snippets/instrument_status.html" with processing=processing queued=queued last_instrument_run=last_instrument_run only %}
                </div>
            </div>
            <br/>
            <input type="hidden" id="last_run_number" value="{{last_instrument_run.run_number}}"/>
            <form id="submit_jobs" method="POST" action="{% url 'run_confirmation' instrument=instrument.name %}" class="form-horizontal">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        {% include "snippets/form_warnings.html" %}
                        <br/>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="alert alert-warning collapse" id="run_range_warning">
                                    <strong>Warning:</strong> a maximum of 20 runs can be submitted at one time.
                                </div>
                            </div>
                        </div>
                        <div class="js-variable-by-run">
                            <div class="row">
                                <label for="run_range" class="control-label col-md-3">
                                    Run Numbers
                                    <a href="#" data-toggle="popover" data-content="A list of runs to re-run, the list can include ranges e.g. 1, 4-6" data-trigger="hover click focus" data-placement="top" data-container="body"><i class="fa fa-info-circle"></i></a>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" id="run_range" name="run_range" value="{{last_instrument_run.run_number|add:"-20"}}-{{last_instrument_run.run_number}}" class="form-control"/>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="only_re_runs" class="control-label col-md-10">Only submit re-runs</label>
                                        <div class="col-md-2">
                                            <input type="checkbox" id="only_re_runs" name="only_re_runs" checked disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="run_description" class="control-label col-md-3">
                                Re-run description
                                <a href="#" data-toggle="popover" data-content="This will be appended onto the run number for you and others to identify the reason for re-submitting." data-trigger="hover click focus" data-placement="top" data-container="body"><i class="fa fa-info-circle"></i></a>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="run_description" name="run_description" class="form-control"/>
                            </div>
                        </div>
                        <div class="js-variables-container">
                            {% include "snippets/edit_variables.html" with standard_variables=standard_variables advanced_variables=advanced_variables instrument=instrument.name only %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-12"><h4>Additional Actions</h4></div>
                            </div>
                            <div class="row">
                                <ul class="js-form-actions">
                                    <li>
                                        <a href="#previewScript" id="previewScript">Preview Reduction Script</a>
                                        <div class="js-explaination visible-xs-block">Download the reduction script with the selected variables inserted.</div>
                                    </li>
                                    <li>
                                        <a href="#currentScript" id="currentScript">Reset to values in current script</a>
                                        <div class="js-explaination visible-xs-block">Reset all variables to those set in the script. This will pick up any changes made to the reduce_vars.py script.</div>
                                    </li>
									<li>
                                        <input type="checkbox" name="overwrite_checkbox" id="overwrite_checkbox" checked>
                                        <a href="#overwrite" id="overwrite"> Overwrite Previous Data</a>
                                        <div class="js-explaination visible-xs-block">Uncheck this box if you don't want previous run data to be overwritten</div>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="overwrite_checkbox" id="overwrite_checkbox" checked>
                                        <a href="#overwrite" id="overwrite"> Overwrite Previous Data</a>
                                        <div class="js-explaination visible-xs-block">
											By default, when an autoreduction job is re-run, the original data from the initial run will be overwritten. If you uncheck this box,
											original data will not be overwritten and you will have distinct folders to separate out the data output from your different re-runs.
										</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 js-action-explaination"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group variables-buttons">
                    <div class="col-md-9 text-right">
                        <a href="#cancelForm" class="btn btn-danger" id="cancelForm">Cancel</a> 
                        <input type="submit" value="Submit Runs" class="btn btn-success" id="variableSubmit" />
                    </div>
                </div>
            </form>

            <div class="modal fade" id="default-variables-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Default Variables</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Standard Variables</h5>
                            {% for name,variable in default_standard_variables.items %}
                                <div>
                                    <strong>{{ name }}:</strong> {{ variable.value }}
                                </div>
                            {% endfor %}
                            <h5>Advanced Variables</h5>
                            {% for name,variable in default_advanced_variables.items %}
                                <div>
                                    <strong>{{ name }}:</strong> {{ variable.value }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="script-preview-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Preview Reduction Script</h4>
                        </div>
                        <div class="modal-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <pre class="prettyprint js-script-container">
                            </pre>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12 pull-right">
                                <a href="#downloadScript" id="downloadScript" class="btn btn-primary">Download Script</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide">
                <div class="js-default-variables">
                    {% include "snippets/edit_variables.html" with standard_variables=default_standard_variables advanced_variables=default_advanced_variables instrument=instrument.name only %}
                </div>
            </div>
        {% else %}
            <div class="text-center col-md-6 col-md-offset-3 well well-small">
                Instrument is not active - it has no runs.
            </div>
        {% endif %}
    {% else %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small">
            Instrument not found.
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/prettify.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-switch.min.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/prettify.js" %}"></script>
    <script src="{% static "javascript/vendor/bootstrap-switch.min.js" %}"></script>
    <script src="{% static "javascript/run_variables.js" %}"></script>
{% endblock %}
