/********************************
 1. Base - links, text, etc.
 2. Navbar
 3. Header
 4. Footer
 5. Run List
 6. Run Summary
 7. Variables
 8. Overrides
********************************/

/****************
 1. Base
****************/
hr {
    width: 60%;
}

.screenreader-only {
    position: absolute;
    top: 0;
    left: -9999px
}

.zebra-rows .row:nth-of-type(even) {
    background: #f9f9f9;
}

.zebra-rows .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comma-seperated-list li a:after {
    content: ',';
}

.comma-seperated-list li:last-of-type a:after {
    content: '';
}

.word-wrap {
    word-wrap: break-word;
}

/****************
 2. Navbar
****************/
.navbar-collapse.collapse.in .navbar-text,
.navbar-collapse.collapsing .navbar-text {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #428bca;
}

.navbar-brand {
    padding: 10px;
}

.navbar-default .navbar-text {
    color: #444444;
}
/****************
 3. Header
****************/
header {
    text-align: center;
}

header .alert {
    margin-bottom: 5px;
    padding: 10px;
}

/****************
 4. Footer
****************/
footer {
    text-align: center;
    margin-top: 30px;
    color: #555555;
    margin-bottom: 10px;
}

/****************
 5. Run List
****************/
.instrument .no-results {
    font-style: italic;
}

search {
    border-radius: 5px;
}

search#run_search {
    margin-top: 4px;
    margin-bottom: 4px;
}

#by-tabs-mobile {
    width: 100%;
    margin-bottom: 5px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.instrument .instrument-heading {
    font-size: 1.3em;
    border-top: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px
}

.instrument .instrument-heading a.edit-instrument-variables {
    font-size: 0.9em;
}

.instrument .no-results {
    padding: 10px;
    font-style: italic;
}

.instrument .experiment-heading {
    background-color: #f8f8f8;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.instrument .experiment-heading a {
    margin-left: 15px;
}

.run-row-top {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
}

.run-row-top .run-status {
    font-weight: bold;
    font-size: 1.1em;
}

.run-row-internal {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    background-color: #F0FFFF;
}

.run-row-internal .run-status {
    font-weight: bold;
    font-size: 1.1em;
}

.run-row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
}

.run-row .run-status {
    font-weight: bold;
    font-size: 1.1em;
}

.progress-summary {
    display: inline-block;
    font-size: small;
}

@media screen and (max-width: 767px) {
    .progress-summary {
        font-size: 0.7em;
    }
}

/****************
 6. Run Summary
****************/
#graphs {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
}

#graphs img {
    max-width: 100%;
}

.file-path {
    word-wrap: break-word;
}

/****************
 7. Variables
****************/
.run-numbers {
    border: 3px solid #ddd;
    border-radius: 15px;
    font-size: 1.2em;
    line-height: 0.9em;
    font-weight: bold;
    padding: 5px;
    height: 90px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media screen and (min-width: 767px) {
    .run-numbers .middle {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
    }
}

@media screen and (max-width: 767px) {
    .run-numbers {
        height: auto;
    }

    .run-numbers div {
        display: inline-block;
    }

    .variables-buttons .btn {
        display: block !important;
        width: 100% !important;
    }
}

#script-preview-modal .modal-dialog {
    width: 90%;
}

#script-preview-modal pre.prettyprint {
    max-height: 65vh;
}


/****************
 8. Overrides
****************/
.panel-small .panel-body {
    padding: 3px 15px;
}

@media screen and (min-width: 767px) {
    .panel.panel-2-column .panel-body .row > div:first-of-type {
        border-right: 1px solid #ddd;
    }

    .panel-primary.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #428bca;
    }

    .panel-default.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #ddd;
    }

    .panel-success.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #d6e9c6;
    }

    .panel-info.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #bce8f1;
    }

    .panel-warning.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #faebcc;
    }

    .panel-danger.panel-2-column .panel-body .row > div:first-of-type {
        border-right-color: #ebccd1;
    }
}

.panel-title > a:only-child {
    display: block;
}

@media screen and (max-width: 767px) {
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 2px;
    }
}

pre code {
    white-space: pre;
    overflow-x: auto;
    display: inline-block;
    min-width: 100%;
}

.instrument-btns-row {
    margin-bottom: 0 !important;
}

.instrument-btn {
    margin-bottom: 20px;
}

.plot-container {
    margin: 0.5em;
}

.pt-2 {
    padding-top: 0.5rem;
}