#category-filter * {
    background-color: #f5f5f5;
}

/* Used for a top margin when using anchor links */
h3::before {
    display: block;
    content: " ";
    margin-top: -40px;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

#topics-sidebar-nav {
    display: none;
}

#topics-sidebar {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}

#topics-sidebar a {
    padding: 8px 10px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

#topics-navbar-brand {
    padding: 15px 15px;
}

@media screen and (max-width: 767px) {
    #topics-sidebar-nav {
        display: block;
    }

    #topics-sidebar {
        padding-top: 0;
    }

    #topics-sidebar {
        width: 100%;
        display: none;
        margin-bottom: 20px;
    }

    #topics-sidebar.active {
        display: block;
    }

    #help-topics {
        width: -webkit-fill-available;
    }
}
