.row {
    margin: 0;
}

#search-row {
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

#search-box-col {
    flex-grow: 1;
    margin-top: auto;
}

#category-col {
    width: 300px;
    margin: auto;
}

#category-chooser {
    float: right;
}

#category-filter * {
    background-color: #f5f5f5;
}

/* Used for a top margin when using anchor links */
h3::before {
    display: block;
    content: " ";
    margin-top: -40px;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

#collapsible-topics-nav {
    display: none;
}

#topics-sidebar {
    height: 100%;
    padding-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}

#topics-sidebar .panel-heading {
    padding-left: 0;
}

#topics-sidebar > h3:before {
    margin-top: 0;
    display: initial;
    height: 0;
}

#topics-sidebar a {
    font-size: 15px;
    text-decoration: none;
    padding: 8px 10px 8px 8px;
    margin-bottom: 6px;
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 4px;
}

#topics-navbar-brand {
    padding: 15px 15px;
    margin: 0;
}

#help-topics {
    padding: 0;
}

@media screen and (max-width: 767px) {
    #collapsible-topics-nav {
        display: block;
    }

    #topics-sidebar {
        width: 100%;
        display: none;
        margin-bottom: 20px;
        padding-right: 0;
    }

    #topics-sidebar.active {
        display: block;
    }

    #topics-sidebar .panel-heading {
        display: none;
    }
}
